
@{
    ViewBag.Title = "Dashboard";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
    <script>
        var username = '@ViewBag.username';
    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">


    <div class="container-fluid my-container">
        <div class="row">
            <div class="col-md-2 mycol" style="background-color: #57606f;">
                <i class="fa fa-user my-user"></i>
            </div>


            <div class="col-md-10 mycol2">
                <input class="form-control float-right search"  type="search" placeholder="Search" aria-label="Search" ng-model="search">
                <label>Name: {{register.name}}</label><br>
                <label>Email-Id: {{register.email}} </label><br>
                <label>Mobile: {{register.mobile}} </label><br>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-md-2 sidenav">
                <a href="~/Employee/EmployeeProfile"><h4 style="padding: 20px">My Profile</h4></a>
                <a href="~/Employee/ApplyForLeave"><h4 style="padding: 20px">Apply for leave</h4></a>
                <a href="~/Login/Logout"><h4 style="padding: 20px">Sign Out</h4></a>
            </div>
            <div class="col-md-10">
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col" ng-click="sortBy('leavetype')">
                                Leave Type <span ng-show="sortColumn=='leavetype'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('startdate')">
                                Leave Start <span ng-show="sortColumn=='startdate'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('enddate')">
                                Leave End <span ng-show="sortColumn=='enddate'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('leaveduration')">
                                Leave Days <span ng-show="sortColumn=='leaveduration'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('leavedescription')">
                                Leave Desc <span ng-show="sortColumn=='leavedescription'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('leavestatus')">
                                Leave Status <span ng-show="sortColumn=='leavestatus'"></span>
                            </th>
                            <th scope="col" ng-click="sortBy('leavebalance')">
                                Leave Balance <span ng-show="sortColumn=='leavebalance'"></span>
                            </th>
                            <th scope="col">Cancel Request</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center">
                        <tr ng-repeat="l in LeaveData | filter : search | orderBy: sortColumn: reverse | limitTo: itemsPerPage: (currentPage - 1) * itemsPerPage">
                            <td>{{l.leavetype}}</td>
                            <td>{{l.startdate.slice(6,-2) | date : 'dd-MM-yyyy' }}</td>
                            <td>{{l.enddate.slice(6,-2) | date : "dd-MM-yyyy" }}</td>
                            <td>{{l.leaveduration}}</td>
                            <td>{{l.leavedescription}}</td>
                            <td>{{l.leavestatus}}</td>
                            <td>{{l.leavebalance}}</td>
                            <td><button type="button" class="fa fa-times" style="color: red;" ng-disabled="!(l.leavestatus == 'Applied')" ng-click="CancelLeave(l)"></button></td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="(LeaveData | filter : search).length" items-per-page="itemsPerPage" ng-model="currentPage" max-size="5" boundary-links="true"></uib-pagination>
            </div>
        </div>
    </div>
</body>
</html>

